<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327974313740-108uhfi77j9d1djs3pjrm2a7bfjpkbk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327974313740-108uhfi77j9d1djs3pjrm2a7bfjpkbk8</string>
	<key>API_KEY</key>
	<string>AIzaSyAf9H4Dsq5tjbsBXds7dWunc54IAJXg4KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>327974313740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thebac.Weekly-Tally</string>
	<key>PROJECT_ID</key>
	<string>weekly-tally</string>
	<key>STORAGE_BUCKET</key>
	<string>weekly-tally.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327974313740:ios:ea903326e928b17959b329</string>
	<key>DATABASE_URL</key>
	<string>https://weekly-tally.firebaseio.com</string>
</dict>
</plist>